@import 'bootstrap';
// https://color.adobe.com/Theme-1-color-theme-5775371/edit/?copy=true

.nav.nav-tabs {
  margin-top: 2em;
}

dd {
  color: #999;
  margin-bottom: 1em;
}

dt {
  font-size: 120%;
}

.jumbotron {
  background: #00B6E2;
  color: #002B34;
  padding: 6em 0;
}

footer {
  background: #002B34;
  color: #008BAE;
  padding: 2em 0;
}